$whiteTransparent: #ffffffe6;
$lightgrey: #eee; 

nav {
    background-color: $whiteTransparent;
    padding: 1.5rem 0rem;
}
.navbar-brand {
    text-transform: uppercase;
    font-size: 1.75rem;
}
.active-link {
    border-bottom: 1px solid $lightgrey;
}