.footer {
        // position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 40px;
    .rights {
        margin: 1.2rem 0;
    }
    .copy-symbol {
        font-size: 20px;
    }
}