@media screen and (max-width: 767px){
    .mobile-margin-top {
        margin-top: 20px; 
    }
}
.skills {
    background: black;
    padding: 40px;
    color: white;
    margin: 40px 0;

    p {
        margin-top: 20px;
        color: white !important;
        text-align: center;
    }
}