@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";

html, body {
    font-family: 'Raleway', sans-serif !important;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 30px;
    min-height: 100%;
}
 
/* Colors */
$black : #333;
$lightgrey: #eee; 
$white : #ffffff;
$whiteTransparent: #ffffffe6;
$green: #039156e6;

/* Fonts */
h1, h2, h3, p, a {
    color: $black !important;
}

h4 {
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    margin-bottom: 1.5rem !important;
} 

.-pt-mono {
    font-family: 'PT Mono', monospace;
    max-width: 100%;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    letter-spacing: 0.5em;
    line-height: 0.5;
    text-transform: uppercase;
    font-size: 0.5rem !important;
}

a:hover, .active-link {
    opacity: 0.5;
    text-decoration: none !important;
}

ul li, .list-inline-item {
    list-style: none;
    margin-right: 2rem !important;

    &:last-child {
        margin-right: 0 !important;
    }
}

img {
    object-fit: contain;
    width: 100%;
}

nav, .footer {
    background-color: $white;
}

/*Responsive*/

@include media-breakpoint-down(md) { 
    html, body {
        padding: 0px 8px; 
    }

    .scene_element {
        padding: 20px 0;
    }
}

/*Animation*/

.scene_element {
    animation-duration: 0.9s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    padding: 40px 0;
  }

 /** An element that fades in and slides up */
 .scene_element-fadeinup {
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  


